<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @sale_page %>
<% end %>

<div id="main">
  <%= render :partial => 'search_catalog', :locals => {:action_name => action_name} %>
  <%= render :partial => "catalog", :locals => {:action_name => 'sale_catalog', :all_link => "Все предложения по продаже недвижимости на острове Самуи", :page => @sale_page, :house_type => "sale"} %>
</div>
