<% @title = "Поиск" %>
<div id="main">
  <div id="content">
    <div id="search-container">
      <% if not @houses.nil? and @houses.size > 0 %>
        <h3>Дома:</h3>
        <ul>
          <%= render :partial => "search", :collection => @houses %>
        </ul>
      <% end %>
      <% if not @articles.nil? and @articles.size > 0 %>
        <h3>Статьи:</h3>
        <ul>
          <%= render :partial => "asearch", :collection => @articles %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
