<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @services_page %>
<% end %>

<div id="content">
	<h2><%= h @services_page.title %></h2>	
	<div>
		<%= @services_page.body %>
	</div>
</div>
