<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @house %>
<% end %>

<% @page_title = @house.page_title %>

<div id="main">
  <div id="content">
    <%= render :partial => "houses/house", :object => @house, :locals => { :menu => @menus }%>
  </div>
</div>
