<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @article %>
<% end %>

<div id="main">
	<h2>
		<%= h @article.title.capitalize %>
	</h2>
	<div>
		<%= @article.body %>
	</div>
</div>
