<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_banner_path %>
  <%= link_to "Назад", admin_root_path %>
<% end %>

<table>
  <tbody>
    <% for banner in @banners %>
      <tr>
        <td><img src="<%= banner.banner.url %>" /></td>
        <td width="10%"><%= link_to "Удалить", [:admin, banner], :confirm => "Вы действительно хотите удалить?", :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
