<% fields_for "house[assets_attributes][]", asset do |photo_form| %>
	<div class="photo_file_upload">
    <%= photo_form.file_field :document %>&nbsp;
    <%= photo_form.check_box :is_visible %><%= photo_form.label :is_visible, "Показывать на странице дома?" %>
	</div>
<% end %>
