<% content_for :meta do %>
  <%= render :partial => 'templates/meta', :object => @house %>
<% end %>

<% @page_title = @house.page_title %>

<div id="content">
  <%= render :partial => "house", :object => @house, :locals => { :menu => @menus }%>
</div>
