<% content_for :top_menu do %>
  <%= render :partial => '/admin/articles/templates/top_menu' %>
  <%= link_to "Назад", admin_root_path %>
<% end %>

<table>
  <tbody>
    <%= render :partial => 'article', :collection => @articles %>
  </tbody>
</table>

