<% content_for :top_menu do %>
  <%= render :partial => '/admin/articles/templates/top_menu' %>
  <%= link_to "Назад", admin_articles_path %>
<% end %>

<h1>Добавить страницу.</h1>
<% form_for [:admin, @article] do |f| %>
  <%= render :partial => '/admin/base_page/form', :locals => {:f => f} %>
  <p><%= f.submit "Добавить" %></p>
<% end %>

