<% content_for :top_menu do %>
  <%= render :partial => 'articles/templates/top_menu' %>
  <%= link_to "Назад", :controller => :admin, :action => :index %>
<% end %>

<table>
  <tbody>
    <%= render :partial => 'article', :collection => @articles %>
  </tbody>
</table>

