<div id="banner-image">
	<% for banner in @banners %>
		<span class="banner-link">
			<a href="<%= banner.url %>">
				<img src="<%= banner.banner.url %>" style="margin-bottom:-4px" />
			</a>
		</span>
	<% end %>
</div>
<div id="footer" style="width: 100%">
  <% unless @footer.content.blank? %>
    <%= @footer.content %>
  <% end %>
</div>