<div id="header">
  <div>
    <div class="search">
    </div>
    <div> 
    </div>
    <div>
      <%= link_to "#{image_tag("logo.png")}", :controller => :main, :action => :index %>
    </div>
  </div>
  <div class="clearer">&nbsp;</div>
</div>
