<div id="nav"> 
	<div id="nav_main">	
    <center>
      <ul>
        <% for i in 0...main_menus.size %>
          <li "<%= if current_menu == i then 'id = \'current\'' end %>"
              class="<%= navigation_class(i, main_menus.size) %>">
            <a href="<%= h main_menus[i].link %>"><%= h main_menus[i].title %></a>
          </li>
        <% end  %>
      </ul>
      <div class="clearer"></div>
    </center>
	</div>
</div>