<% form_for :query, @query, :html => {:id => "main_form", :method => :post} do |f| %>
	<p>Поиск по каталогу</p>
	<div class="search-controls">
		<table>
			<tbody>
				<tr>
          <td><%= f.select("price_id", @search.prices.collect {|p| [p.title, p.id] }, {:include_blank => 'Cтоимость за день'}, :class => "search-index-input") %></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
          <td><%= f.select("location_id", @search.locations.collect {|p| [p.title, p.id] }, {:include_blank => 'Расположение'}, :class => "search-index-input") %></td>
					<td>
						<input type="submit" id="submit-button-hidden" class="hidden" />
						<span class="search-button">
              <%= image_tag('search.png', :onclick => "$('#submit-button-hidden').click();", :style => "cursor: pointer;") %> 
						</span>
					</td>
				</tr>
				<tr>
          <td><%= f.select("number_id", @search.numbers.collect {|p| [p.title, p.id] }, {:include_blank => 'Количество спален'}, :class => "search-index-input") %></td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
<% end -%>
