<% content_for :top_menu do %>
  <%= link_to "Добавить", new_banner_path %>
  <%= link_to "Назад", :controller => :admin, :action => :index %>
<% end %>

<table>
  <tbody>
    <tr>
      <% for banner in @banners %>
        <td><img src="<%= banner.banner.url %>" /></td>
        <td width="10%"><%= link_to "Удалить", banner, :confirm => "Вы действительно хотите удалить?", :method => :delete %></td>
      <% end %>
    </tr>
  </tbody>
</table>
