<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_house_menu_path %><br />
  <%= link_to "Назад", admin_houses_path %>
<% end %>

<table>
  <tbody>
    <%= render :partial => 'admin/house_menus/templates/house_menu', :collection => @house_menus %>
  </tbody>
</table>

