<% content_for :top_menu do %>
  <%= link_to "Назад", '/admin' %>
<% end %>

<h1>Редактировать шапку сайта</h1>
<div id="admin_container">
    <% form_for :header,
                :url => {:action => 'update', :id => @header.id} do |f| %>
        <%= f.text_area :content, :class => "mceEditor" %>
        <p><%= f.submit "Обновить" %></p>
    <% end %>
</div>