<% content_for :top_menu do %>
  <%= render :partial => 'admin/houses/templates/top_menu' %>
  <%= link_to "Назад", admin_root_path %>
<% end %>


<div id="container">
	<p><%= link_to "В раздел с арендой домов", admin_index_rent_path %></p>
	<p><%= link_to "В раздел с продажей домов", admin_index_sale_path %></p>
</div>
