<% content_for :top_menu do %>
  <%= link_to "Добавить", new_admin_main_menu_path %><br />
  <%= link_to "Назад", admin_main_menus_path %>
<% end %>

<table>
  <tbody>
    <%= render :partial => '/admin/main_menus/templates/main_menu', :object => @main_menu %>
  </tbody>
</table>

