<div id="main">
	<div>
		<span style="margin-right: 10px"><%= link_to "Главное меню", :controller => :main_menus, :action => :index %></span>
		<span style="margin-right: 10px"><%= link_to "Меню в разделе дом", :controller => :house_menus, :action => :index %></span>
	</div>
	<div style="margin-top: 20px;">
		<span style="margin-right: 10px"><%= link_to "На Главную", :controller => :admin, :action => :index %></span>
	</div>
</div>
