@charset "UTF-8";

@media all {

html * {font-size: 100.01%;}

input[type='submit'], input[type='text'], textarea {padding: 2px;}
ul {margin:0;padding:0;list-style-type:disk;margin-bottom:20px;}
ul li {color: #1187FF;margin:0;padding:0;padding-bottom:5px;}
h1, h2, h3, h4, h5, h6 {font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif; font-weight: bold; color: #666; margin: 0 0 0.25em 0;}
h1 {font-size: 26px;font-style: italic;color: #1187ff}
h2, h2 a { font-size: 20px; color: #474747; font-style: italic; font-weight: normal;}
h3 {font-size:18px;color:#929292;font-weight:normal;letter-spacing:1px;}
h4 {font-weight: normal;}
p {font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.3em;}
div {font-size: 14px;font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;}
li {margin-left: 1.5em; line-height: 1.3em}
strong, b {font-weight: bold}
abbr {letter-spacing: .07em;border-bottom: .1em dashed #c00;cursor: help;} 
a, a:focus, a:hover, a:active {font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;text-decoration: none;} 
a {color: #1187ff;}
a:focus, a:hover, a:active {color: #007eff;text-decoration: none;} 
table {width: auto;border-collapse: collapse;margin-bottom: 0.5em;}
th, td {margin-bottom: 5px;}
fieldset, img { border: 0 solid; }

#footer a {color: #999;background: transparent;font-weight: bold;}
#footer a:focus, #footer a:hover, #footer a:active {color: #4D87C7;background-color: transparent;text-decoration: underline;}

hr {color: #fff;background: transparent;margin: 0 0 0.5em 0;padding: 0 0 0.5em 0;border: 0;border-bottom: 1px #eee solid;} 
#nav_main {padding-top: 10px;}
.hidden {display: none;} 
#content-column-1 div p {margin-bottom: 10px;} 
.suggestion {font-weight: normal;}

.sub-content-1, .sub-content-bottom-menu {padding-bottom: 15px;margin-bottom: 15px;} 
.sub-content-1 ul li {color: black;}  
.sub-content-bottom-menu {border-bottom: 1px solid #999999;}
.sub-content-1 h1 {font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;}
.sub-content-back-link {margin: 0 0 0 1em} 

#big-image {margin-bottom: 10px;}
#small-big-image {float:right;margin-right: 30px;margin-top: 10px;}
#small-big-image span {margin-right: 4px;} 

.no-margin {margin: 0px !important;} 
.no-border {border: 0;}
.inner-small-image {margin-bottom: 0px;}
.left-button, .right-button {position:relative;top:-46px;height: 0px;cursor: pointer;z-index: 1000;height: 1px;width: 1px;}
.right-button {left:394px;} 
.left-button {left:-15px;} 
.row-selected {background-color: #f6f6f6;}

#prices {float: right;} 
.prices-table {width: 100%;} 
.prices-table thead td, .prices-comment {color:#ababab;font-size: 12px;font-style:italic;}
.prices-head-title {color: #1187ff !important;font-size: 18px !important;font-style:italic  !important;} 
.prices-title, .prices-table tbody td {color: #474747;font-size: 14px !important;font-style: italic !important;} 
.bottom-text p {font-size: 12px;padding: 20px;padding-top: 10px;font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;} 

#banner-image {margin-top: 33px;}
.prices {padding: 0px 25px;}
#footer div {color:#DEDEDE !important;font-style: italic;font-size: 14px !important;}
#footer div a {font-size: 14px !important;}
.footer-right { margin-right: 15px !important; }
.footer-right p { text-align: right !important; margin: 0 !important; }

.services-text {color: #999999 !important;font-size: 18px !important;font-weight: normal;}
.pre-search {margin-bottom: 20px;margin-top: 10px;}
.pre-search h2 a {color:#474747;font-size:20px;font-style:italic;font-weight:normal;}
.search-form p {font-style: italic;margin-bottom: 8px;} 
.search-button {margin-left: 20px;} 
.search-select {float: left;margin-right: 15px;} 
.search-comment {font-size: 11px !important;color:#999999 !important;position:relative;top: -5px;} 
.search-header-title {padding-left: 10px;font-style: italic;}
.search-result-bottom {margin-top: 10px;margin-left: 10px;}
.search-top-button {margin-right: 10px;} 
.search-catalog-input {width: 204px;}
select.search-index-input {width: 190px; color:#666;}
.search-top-button {position: relative;top: 0px;}
.search-image-bottom {margin-bottom: 15px;}
.search-form {margin-bottom:10px;}

.main-header {margin-bottom: 10px;font-style: italic;}
.line{border-bottom: 1px solid #999999;padding-bottom: 20px;padding-left: 10px;margin-bottom: 20px;margin-top: -10px;}
.right-column, .left-column {float: left;;width: 420px;}
.left-column {margin-right:20px;}
#main input[type='checkbox'] {margin-right: 5px;}
.photo_file_upload {margin-bottom: 10px;}
#new_house p {margin-bottom: 10px;}

.carousel ul{list-style: none;}
.carousel {list-style: none;}

.active-image {border: 2px #FFF000 solid;}
.bottom-text {color: #808080;padding-left: 40px;}
.bottom-text ul li {color: #808080;}
.bottom-text a {font-size: 14px; text-decoration:underline;}

#main input[type='text'] {margin-bottom: 2px;}
.line-content {background:#FFFFFF none repeat scroll 0;padding: 0px 20px;clear:both;}
.custom-line {border-bottom:1px solid #999999;height:1px;margin-bottom:10px;}
.banner-link {margin-right: -2px;}
#catalog_body_container {margin-bottom: 10px;}

body {background-color: #FFF;font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;font-size: 75.00%;color: #444;}
.sub-content-1 h1 a {font-size: 16px;}

/* begin new styles */

/* pagination */
.pagination {text-align:center;margin-bottom:10px;}
.pagination .current {padding: 2px; background-color:#e7e8e2;}
#facebook-like {padding-left: 25px;}
.pagination .disabled {color: #9698a1;}
.pagination span.disabled.prev_page {padding-right: 2px;}
.pagination span.disabled.next_page {padding-left: 2px;}
.pagination a {color: #1500c5;text-decoration:underline;padding:2px;}

/* end */

#image-container {width: 320px; height: 230px;}

#header .search {float:left;}
#header .search input[type='text'] {width:100px;height: 14px;font-size:10px;padding:1px;float:left;border: 1px solid #ebe4e4;text-align:right;color:#464646;font-style:italic;margin-right:2px;}
#header .search input[type='image'] {width:21px;height:18px;float:left;}
#header .search h4 img {margin-right:3px;padding-top:6px;}
#header #logo {float:left;margin-right:10px;}
#header .info {float:right;text-align:right;}
#header .info a {text-decoration:underline;font-weight:normal;font-size:14px;}
#header #header-right {width: 320px;float:right;}
#header .lang {text-align:right;position:relative;top:15px;}
#header-content {float:left;width:430px;}
.notification {color:red;padding:10px 0px;}
#items li {margin-left: 1.5em;}
#content ul {margin: 0px 0px 1em 1em;}
#search-container {margin-bottom: 20px;}
}
